<!doctype html>
<html lang="en">
<head>
    <% include bootstrap.ejs %>
    <title>Вход</title>
    <style>
        body {
            padding:30px;
        }
    </style>
</head>
<body>


</body>
</html>